
@{
    ViewBag.Title = "HowToUse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
     In the comparison page you can find 2 areas to enter a c# function
<br/>
    
<br /><br />
                Bellow the scores are graph representations of the two functions.
<br />
                I compute these using the compiled (cil) code, and then use them to the compute the scores.
<br />
             You can explore them if you like.
<br />
<h2>HowToUse</h2>

