@{
    ViewBag.Title = "Intro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="text-general">
        <h2>
            Hi!
            <br/><br/>
                This is a personal project which I've worked on for about 10 months.
            <br/>
                It is a program which attempts to estimate how similar two c# functions are in terms of their functionality.
            <br/>
            <br/>
                It produces a similarity score between 0 and 1, where a higher score means the functions are more closely related.
           <br/>
                In addition, another score is calculated which conveys how well one function contains some of the functionality of the other,
            <br />
                i.e. how well one function can use the other and still preform the same actions.
            <br/>
            <br/>
                This is still in a POC stage and I'd be happy if you could help me test it out!
            <br />
                Just head over to the "Compare" page, and see if the scores match your intuition.
            <br/>           
                I would also greatly appreciate any feedback.
            <br/><br/>
                Thanks!
        </h2>

    </div>
<div style="margin-top:50px">
    <a href="mailto:simcoster@gmail.com">
        <img src="~/Content/Images/gmail.png" alt="simcoster@gmail.com" style="width:42px;height:42px;border:0;">
    </a>
    <a href="https://www.linkedin.com/in/omri-simcovich-62aaa638/">
        <img src="~/Content/Images/linkedin.jpg" alt="linkedin page" style="width:42px;height:42px;border:0;">
    </a>
</div>